@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;


}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-ocre: #b68542;
  --color-ocredark: #9d733b;
  --color-powderblue: #7287B1;
  --color-powderbluedark: #586889;
  --color-yellowfade: #f7f4eb;
  --color-greyfade: #d9d9d9;
  --font-tan : TAN;
  --font-alike: "Alike", serif;
  --tracking-extra: 0.2em;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Times New Roman', Helvetica, sans-serif;
  font-size: 18px;
}

@font-face {
  font-family: 'TAN';
  src: url('/font/tan-mon-cheri.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.6s ease-out;
}
